.button {
  display: inline-flex;
  align-items: center;
  padding: 12px;
  color: var(--color-gray-1);
  border-radius: var(--border-radius);
  background-color: var(--color-dark-2);
  border: var(--border);
  height: var(--input-height);

  &:hover {
    color: var(--color-dark-2);
    background-color: transparent;
  }

  &:active {
    scale: 1.05;
  }
}
