.field {
  position: relative;

  &:has(.field__input:not(:placeholder-shown)) .field__label {
    color: var(--color-black);
    scale: 0.7;
    translate: -1.75em -2.6em;
  }
}
.field__label {
  position: absolute;
  top: 50%;
  left: 17px;
  color: var(--color-gray-3);
  transform: translateY(-50%);
}
.field__input {
  width: 100%;
  paddding: 12px 12px 12px 16px;
  height: var(--input-height);
  border: var(--border);
  border-radius: var(--border-radius);
  --fieldInputPaddingX: 16px;
  --fieldSeachInputIconSize: 16px;

  &:hover,
  &:focus {
    border-color: var(--color-dark-2);
  }

  &[type="search"] {
    &:placeholder-shown {
      padding-right: calc(var(--fieldInputPaddingX) * 2 + var(--fieldSeachInputIconSize));
      background-image: url('../../icons/icon-search_black.svg');
      background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
      background-size: var(--fieldSeachInputIconSize);
      background-repeat: no-repeat;
    }
  }
}

