body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px 30px;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-gray-1);
}

input,
label,
button {
  transition: var(--transition-duration);
}

:focus-visible {
  outline: dashed 2px var(--color-black);
  outline-offset: 4px;
  transition-duration: 0s !important;
}